#
# MMC subsystem configuration
#

menuconfig MMC
	tristate "MMC/SD/SDIO card support"
	depends on HAS_IOMEM
	help
	  This selects MultiMediaCard, Secure Digital and Secure
	  Digital I/O support.

	  If you want MMC/SD/SDIO support, you should say Y here and
	  also to your specific host controller driver.

config MMC_DEBUG
	bool "MMC debugging"
	depends on MMC != n
	help
	  This is an option for use by developers; most people should
	  say N here.  This enables MMC core and driver debugging.

config MMC_PERF_PROFILING
	bool "MMC performance profiling"
	depends on MMC != n
	default n
	help
	  If you say Y here, support will be added for collecting
	  performance numbers at the MMC Queue and Host layers.

config SIM_SD_COMM_SLOT
        bool "SD card and sim card share common slot"
        depends on MMC != n
        default n
        help
        If you say Y here, we will think SD card and sim card share common slot.

config SIM_SD_COMM_SLOT_VERSION2
        bool "SD card and sim card share common slot version2.0"
        depends on MMC != n
        default n
        help
        If you say Y here, we will think SD card and sim card share common slot.


config SIM_SD_COMM_SLOT_VERSION3
        bool "SD card and sim card share common slot version3.0"
        depends on MMC != n
        default n
        help
        If you say Y here, we will think SD card and sim card share common slot.


config SIM_SD_COMM_SLOT_VERSION4
        bool "SD card and sim card share common slot version4.0"
        depends on MMC != n
        default n
        help
        If you say Y here, we will think SD card and sim card share common slot.

if MMC

source "drivers/mmc/core/Kconfig"

source "drivers/mmc/card/Kconfig"

source "drivers/mmc/host/Kconfig"

endif # MMC
